[Unit]
Description=MediaMTX RTSP Server
After=network.target

[Service]
Type=simple
User=ray
WorkingDirectory=/home/ray/developer/ai/saccade
ExecStart=/usr/bin/env mediamtx /home/ray/developer/ai/saccade/infra/mediamtx.yml

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
